<!DOCTYPE html>
<html lang="en-us">
    <meta charset="utf-8"><script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "mainEntityOfPage": {
             "@type": "WebPage",
             "@id": "http:\/\/localhost:8082\/"
        },
        "articleSection": "",
        "name": "Highway Bitcoin",
        "headline": "Highway Bitcoin",
        "description": "",
        "inLanguage": "en",
        "author": "",
        "creator": "",
        "publisher": "",
        "accountablePerson": "",
        "copyrightHolder": "",
        "copyrightYear": "0001",
        "datePublished": "0001-01-01T00:00:00Z",
        
        "url" : "\/",
        "wordCount" : "0",
        "keywords" : [ "Blog" ]
    }
</script>
<title>Highway Bitcoin</title><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/favicon.ico">


<meta itemprop="name" content="Highway Bitcoin">
<meta itemprop="description" content="">
<meta property="og:title" content="Highway Bitcoin" />
<meta property="og:description" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://localhost:8082/" />


<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="Highway Bitcoin"/>
<meta name="twitter:description" content=""/>


<link rel="alternate" href="http://localhost:8082/index.xml" type="application/rss+xml" title="Highway Bitcoin"/>





<link rel="stylesheet" href="/css/vendor.min.0ddc5d5af2a374112e2c15ffd86dec5d04113f2dc0b68f5f4a729903ebbbbf46.css">    
<body class="text-center">
        <main role="main" class="container">

<h1 class="welcomeText"></h1>


    
        
            <form id="search-form-Google" class="mb-3" action="https://www.google.com/search" method="get">
                <input id="search-bar-Google" class="form-control" type="text" autofocus type="text" placeholder="Search Google" name="q" alt="Search Google" onkeydown="if(event.keyCode === 13) { this.form.submit(); return false; }">
            </form>
        
    



    <div id="iconList" class="card-columns mt-3">
        
            
                <div id="iconListEntry" class="card">
                    <div class="card-body cursorPointer" onclick="location.href = '\/login\/user_login'">
                        <p class="card-text"><a class="ajax-link" href="/login/user_login" target="_self" class="iconLink"><i class="fa-5x fab fa-reddit"></i></a></p>
                        <p class="card-text"><a class="ajax-link" href="/login/user_login" target="_self" class="iconLink">user application</a></p>
                    </div>
                </div>
            
                <div id="iconListEntry" class="card">
                    <div class="card-body cursorPointer" onclick="location.href = '\/login\/manager_login'">
                        <p class="card-text"><a class="ajax-link" href="/login/manager_login" target="_self" class="iconLink"><i class="fa-5x fab fa-facebook"></i></a></p>
                        <p class="card-text"><a class="ajax-link" href="/login/manager_login" target="_self" class="iconLink">manager application</a></p>
                    </div>
                </div>
            
                <div id="iconListEntry" class="card">
                    <div class="card-body cursorPointer" onclick="location.href = '\/login\/senior_manager_login'">
                        <p class="card-text"><a class="ajax-link" href="/login/senior_manager_login" target="_self" class="iconLink"><i class="fa-5x fab fa-facebook"></i></a></p>
                        <p class="card-text"><a class="ajax-link" href="/login/senior_manager_login" target="_self" class="iconLink">senior manager application</a></p>
                    </div>
                </div>
            
                <div id="iconListEntry" class="card">
                    <div class="card-body cursorPointer" onclick="location.href = '\/login\/system_manager_login'">
                        <p class="card-text"><a class="ajax-link" href="/login/system_manager_login" target="_self" class="iconLink"><i class="fa-5x fab fa-facebook"></i></a></p>
                        <p class="card-text"><a class="ajax-link" href="/login/system_manager_login" target="_self" class="iconLink">system manager application</a></p>
                    </div>
                </div>
            
                <div id="iconListEntry" class="card">
                    <div class="card-body cursorPointer" onclick="location.href = '\/post'">
                        <p class="card-text"><a class="ajax-link" href="/post" target="_self" class="iconLink"><i class="fa-5x fab fa-facebook"></i></a></p>
                        <p class="card-text"><a class="ajax-link" href="/post" target="_self" class="iconLink">development guid</a></p>
                    </div>
                </div>
            
                <div id="iconListEntry" class="card">
                    <div class="card-body cursorPointer" onclick="location.href = '\/company\/about'">
                        <p class="card-text"><a class="ajax-link" href="/company/about" target="_self" class="iconLink"><i class="fa-5x fab fa-facebook"></i></a></p>
                        <p class="card-text"><a class="ajax-link" href="/company/about" target="_self" class="iconLink">About us</a></p>
                    </div>
                </div>
            
        
    </div>



        </main>


<script src="/js/vendor.min.f7645e67b428308bf895e6ff09860f1a92dacc56915c14dd9d6d38fa0d2d7707.js"></script>


<script src="/livereload.js?mindelay=10&amp;v=2&amp;port=8082&amp;path=livereload" data-no-instant defer></script></body>
</html>
